.parent{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.child{
    width: 45%;
    height: 160px;
    background-color: rgb(240, 240, 10);
    border-radius: 15px;
    align-content: center;
    text-align: center;
    
   
}
.child-1{
    background-color: #0e567e;
}
.child-2 {
    background-color: #fbebec;
}
.child-3{
    background-color: #e5eef2;
}
.child-4{
    background-color: #ce4241;
}

.inner-child{
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
    gap: 2px;
    background-color: #fbebec;
    
}

