.heading-container {
  height: 80vh;
  padding: 20px;
  display: flex;

  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

.heading-text {
  position: relative;
  width: 50%;

  font-size: 25px;
  font-weight: 500;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
  color: #0d567e;
  flex: 1;
}

.form-container {
  flex: 1;
  padding-left: 20px;
}
@media (max-width: 768px) {
  .heading-container {
    flex-direction: column;
    align-items: center;
  }

  .heading-text {
    font-size: 0.9rem;
    font-weight: 400;
  }
  .form-container {
    width: 100%;
    margin-top: 20px;
  }
}
