.formInput{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 95%;
}
form{
  background-color: #0e567e;
  padding: 0px 60px;
  border-radius: 15px;
}
div{
  margin:  10px;
}
button{
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: red;
  color: white;
  border-radius: 10px;
  margin: 10px;
  border: none;
}